@import '../../scss/normalize.scss';

.integ {
  margin-top: 51px;

  .f-text {
    box-sizing: border-box;
    height: 36px;
    padding: 0 5px 0 10px;
    color: #000;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #dddddd;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #c8c8c8;
    outline: none;

    &.mins {
      width: 170px;
    }

    &.broad {
      width: 300px;
    }

    &:focus {
      border: 1px solid #1e88e5;
      box-shadow: 0 0 0 2px rgba(30, 136, 229, 0.2);
    }
  }

  .fTextArea {
    height: auto;
    min-height: 100px;
    padding-top: 5px;
    overflow: auto;
    resize: vertical;
  }

  .fList {
    padding-right: 35px;
    color: black;
    background-image: url(/img/ddlAr.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) 15px;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;

    &.broad {
      width: 150px;
    }
  }

  .ftp-info {
    margin-bottom: 10px;

    @each $name,
      $val
        in (
          'type': 150px,
          'address': 190px,
          'port': 50px,
          'login': 200px,
          'pass': 200px,
          'certCheck': 300px
        )
    {
      .#{$name} {
        display: inline-block;
        width: $val;
        margin-right: 10px;

        @if $name == 'port' or $name == 'pass' {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
  }

  .link-new {
    position: relative;
    z-index: 1;
    display: inline-block;
    box-sizing: border-box;
    padding: 9px 12px;
    color: #333;
    text-decoration: none;
    vertical-align: baseline;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    cursor: pointer;
  }

  .blueBtn {
    color: white;
    background-color: #4fabe0;
  }

  .cb-new {
    position: relative;
    display: inline-block;
    padding: 2px 0 0 25px;
    color: #333;
    font-size: 12px;
    text-decoration: none;
    vertical-align: top;
    background-image: url(/images/checkbox/new/cb2.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;

    &.on {
      background-image: url(/images/checkbox/new/cb1.png);
    }
  }

  .l-green {
    padding: 7px 12px;
    color: white;
    font-size: 20px;
    background-color: #419d78;
  }

  .l-green:hover {
    background-color: #67b193;
  }

  .blink {
    color: #418ecf;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .errBtn {
    margin-left: 10px;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    background-color: #0272af;
    border-radius: 8px;
  }

  .errGlobal {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    color: white;
    font-size: 14px;

    .cont {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
    }

    &.bl {
      background-color: #0288d1;
    }
    .errGlobal-img1 {
      margin: 0 15px 0 0;
    }

    .errGlobal-img2 {
      position: absolute;
      right: 20px;
    }

    .errGlobal-ch1 {
      margin: 0 5px 0 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
    }
  }

  & > .cont {
    align-items: center;
    padding: 40px 20px 20px 20px;
    padding: 10px 20px;
    background-color: #fff;
  }

  .whiteForm {
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .b-box {
    position: relative;
    z-index: 1;
    display: inline-block;
    box-sizing: border-box;
    padding: 9px 12px;
    color: #333;
    text-decoration: none;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    cursor: pointer;
    dr &:hover {
      background-color: #f5f5f5;
    }

    &.active {
      color: white;
      background-color: #4fabe0;

      &:hover {
        background-color: #489ccc;
      }
    }

    &.dark {
      color: white;
      background-color: #0272af;
    }
  }

  .b-dell {
    height: 34px;
    padding: 12px;
    border: none;

    & svg {
      width: 10px;
      fill: #cccccc;
    }

    &:hover {
      background-color: unset;
      svg {
        fill: #ef5350;
      }
    }
  }

  .err {
    .f-text {
      border-bottom: 2px solid rgb(239, 83, 80);
    }

    & > svg {
      position: absolute;
      right: 10px;
      bottom: 10px;
      vertical-align: middle;
      fill: #ef5350;
    }
  }

  .token {
    display: inline-block;
    margin-right: 20px;
  }

  .item {
    margin-bottom: 10px;

    .raised {
      padding-top: 5px;
      vertical-align: top;
    }

    &.top {
      .b-box:first-of-type {
        border-radius: 3px 0 0 3px;
      }

      .b-box:last-of-type {
        border-radius: 0 3px 3px 0;
      }
    }
  }

  .name {
    display: inline-block;
    width: 120px;
    padding-right: 20px;
    text-align: right;
  }

  .wide {
    position: relative;
    display: inline-block;
    width: calc(70% - 153px);

    & .f-text {
      width: 100%;
    }
  }

  .type {
    display: inline-block;

    .row {
      position: relative;
      display: flex;
      align-items: flex-end;
      margin-bottom: 10px;
    }

    .col {
      position: relative;
      display: inline-block;
      margin-right: 10px;
    }

    .title {
      margin-bottom: 5px;
      color: #333;
      font-weight: bold;
    }

    .url {
      width: 340px;
    }

    .cb-new {
      &.indent {
        margin-bottom: 30px;
      }
    }
  }

  .btns {
    margin: 20px;
    text-align: right;

    .link-new:first-of-type {
      margin-right: 14px;
    }
  }
}
