$mainFont: 'Montserrat', Arial, sans-serif;
$symFont: 'Fontello';

$mainFontSize: 12px;

$black: rgb(31, 32, 65);
$black-5: rgba(31, 32, 65, 0.05);
$black-25: rgba(31, 32, 65, 0.25);
$black-50: rgba(31, 32, 65, 0.5);
$black-75: rgba(31, 32, 65, 0.75);

$blue: #489ccc;
$blue-alpha: #489ccccc;
$orange: #ffa726;
$green: #8bc34a;
$lime: #419d78;
$lime-light: #67b193;
$grey: grey;
$white: white;
